{% macro account_card(acc, user_id) %}
<article class="account-card" id="acc-card-{{ acc.id }}">
    <div class="card-header">
        <strong class="account-name">{{ acc.name }}</strong>
        <button onclick="unlinkAccount('{{ user_id }}', '{{ acc.id }}')" class="btn-unlink outline"
            title="Remover conta">
            Remover
        </button>
    </div>

    <div class="balance-section">
        <small class="label">Saldo Inicial</small>
        <div class="balance-wrapper">
            <strong class="balance-value" id="balance-text-{{ acc.id }}">
                R$ {{ "%.2f"|format(acc.initial_balance_cents / 100) }}
            </strong>
            <button class="btn-edit-balance"
                onclick="editBalance('{{ acc.id }}', '{{ acc.initial_balance_cents / 100 }}')" title="Editar Saldo">
                ✏️
            </button>
        </div>
    </div>
</article>
{% endmacro %}