{% extends "base.j2" %}


{% block extra_head %}
<script src="https://unpkg.com/htmx.org@1.9.12"></script>
<script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/response-targets.js"></script>
<link rel="stylesheet" href="{{ url_for('static_finance', path='css/layout.css') }}">
{% block extra_stylesheets %}{% endblock %}
{% endblock %}
{% block title %}Dragon Finance{% endblock %}
{% block content %}
<header class="finance-header">
    <div class="header-wrapper">
        <nav class="finance-nav">
            <ul>
                <li class="brand-name"><strong>🐲 Dragon Finance</strong></li>
            </ul>
            {% if user %}
            <ul>
                <li class="secondary"><a href="/finance" class="secondary">Sair do Perfil</a></li>
                <li><a href="/finance/user/{{ user.id }}/accounts">Minhas Contas</a></li>
                <li><a href="/finance/user/{{ user.id }}/transactions">Transações</a></li>
                <li><a href="/finance/user/{{ user.id }}/edit">Editar Perfil</a></li>
                <li>
                    <kbd class="user-badge">👤 {{ user.name }}</kbd>
                </li>
            </ul>
            {% else %}
            <ul>
                <li><a href="/finance">👤 Perfil</a></li>
                <li><a href="/finance/accounts">🏦 Gestão de Contas</a></li>
                <li><a href="/finance/templates">📄 Templates de Importação</a></li>
                <li>
                    <kbd class="user-badge admin">⚙️ Infra</kbd>
                </li>
            </ul>
            {% endif %}
        </nav>
    </div>
</header>

<main class="container">
    {% block finance_content %}{% endblock %}
</main>
{% endblock %}