{% extends "base.j2" %}


{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static_finance', path='css/layout.css') }}">
{% endblock %}

{% block content %}
<header class="finance-header">
    <div class="header-wrapper">
        <nav class="finance-nav">
            <ul>
                <li class="brand-name"><strong>🐲 Dragon Finance</strong></li>
            </ul>
            {% if user %}
            <ul>
                <li class="secondary"><a href="/finance" class="secondary">Trocar Perfil</a></li>


                <li><a href="/finance/user/{{ user.id }}/accounts">Minhas Contas</a></li>
                <li><a href="/finance/user/{{ user.id }}/transactions">Transações</a></li>
                <li><a href="/finance/user/{{ user.id }}/edit">Editar Perfil</a></li>
                <li>
                    <kbd class="user-badge">👤 {{ user.name }}</kbd>
                </li>
            </ul>
            {% endif %}
        </nav>
    </div>
</header>

<main class="container">
    {% block finance_content %}{% endblock %}
</main>
{% endblock %}