{% from "finances/user/accounts/macros/empty_account.j2" import empty_acc_display %}



<div hx-swap-oob="beforeend:#add-account-details ul">
    <li id="menu-item-{{ acc.id }}">
        <a href="#" hx-post="accounts/{{ acc.id }}" hx-target=".accounts-grid" hx-swap="beforeend">
            {{ acc.name }}
        </a>
    </li>
</div>


{{ empty_acc_display() }}